.transactionHistory {
   margin-bottom: 30px;
   width: 60%;
   font-size: 14px;
   border-collapse: collapse;
   table-layout: fixed;
   text-align: center;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
     1px 4px 6px rgba(0, 0, 0, 0.16);
 }
 
 table th {
   background-color: #00c3ff;
   color: #ffffff;
   text-transform: uppercase;
 }
 
 table th,
 table td {
   padding: 10px;
   border: 1px solid #cccccc;
 }
 tbody {
   color: #6e6c6c;
 }
 tbody tr:nth-child(2n + 1) {
   background-color: #ffffff;
 }
 tbody tr:nth-child(2n) {
   background-color: #ebf6fdad;
 }
 